<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Google font redressed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Link Vue Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <title>VUE TodoList</title>
</head>
<body>

    <!-- App vue JS -->
    <div id="app">

        <!-- Todo wrapper -->
        <div class="todo_wrapper">
            
            <!-- Logo -->
            <div class="logo">
                <img src="img/task-list.png" alt="">
                <h1>Vue TodoList</h1>
            </div>

            <!-- Input testo e pulsante per aggiungere un nuovo todo -->
            <div class="new_todo">
                <input type="text" v-model="message">
                <button @click="newListTodo"><i class="fas fa-plus"></i></button>
            </div>

            <!-- Lista todo -->
            <div class="list_todo">
                <ul>
                    <li v-for="(element, index) in arrayList">
                        <p :class="element.done == true ? 'text-line-through' : '' ">{{element.testo}}</p>
                        <!-- Icone -->
                        <div class="icons">
                            <div class="check" @click="listCompleted(element)">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="delete" @click="listRemove(index)">
                                <i class="fas fa-trash"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    


    <!-- Link JavaScript -->
    <script src="app.js"></script>

</body>
</html>